[Unit]
Description=VIGIA 2.0 — capture spectrum (OceanInsight SR4)
Wants=capture-spec.timer

[Service]
User=user
Type=oneshot
WorkingDirectory=/home/user
ExecStart=/home/user/.venv/bin/multicamctl capture spectrometer

[Install]
WantedBy=multi-user.target
